# The goal is to fix most of the failure shown by [ocaml-ci] while working on
# proper integration of [conf-hg] in the main repository.
depexts: [
  ["mercurial"] {os-family = "alpine"}
  ["mercurial"] {os-family = "arch"}
  ["mercurial"] {os-distribution = "centos"}
  ["mercurial"] {os-family = "debian"}
  ["mercurial"] {os-family = "fedora"}
  ["mercurial"] {os = "freebsd"}
  ["mercurial"] {os = "macos" & os-distribution = "homebrew"}
  ["mercurial"] {os-distribution = "nixos"}
  ["mercurial"] {os-distribution = "ol"}
  ["mercurial"] {os = "openbsd"}
  ["mercurial"] {os-family = "suse" | os-family = "opensuse"}
  ["mercurial"] {os-family = "ubuntu"}
  ["system:hg"] {os = "win32" & os-distribution = "cygwinports"}
  ["mercurial"] {os = "cygwin"}
]
