description: """\

[volgo] is a set of OCaml libraries for interacting with Git
repositories. It provides a type-safe and direct-style API to
programmatically perform Git operations, ranging from creating
commits and branches to loading and navigating commit graphs in
memory, computing diffs between revisions, and more.

[Vcs] is the user-facing OCaml module for the project and
dynamically dispatches its implementation at runtime.

"""
tags: [ "git" "vcs" ]
x-maintenance-intent: [ "(latest)" ]
