name: CRs Workflows

on:
  pull_request:
    branches:
      - "**" # This will match pull requests targeting any branch

permissions:
  contents: read
  pull-requests: write

jobs:
  crs-workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install crs
        uses: mbarbin/crs-actions/setup-crs@061f8bc6ac432c1ebc575489f0ea1bc499be0e78 # v1.0.0-alpha.10
        with:
          crs-version: 0.0.20251014
          crs-digest: sha256:82ac2264a2b6bd6e3dc47b1ff273eebc2682efe3ad255b14eab9b001b9c1eee6

      - name: Install reviewdog
        uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
        with:
          reviewdog_version: v0.20.3

      - name: Comment on CRs in PR
        uses: mbarbin/crs-actions/comment-crs-in-pr@061f8bc6ac432c1ebc575489f0ea1bc499be0e78 # v1.0.0-alpha.10
        with:
          crs-config: .github/crs-config.json

      - name: Summarize CRs in PR
        uses: mbarbin/crs-actions/summarize-crs-in-pr@061f8bc6ac432c1ebc575489f0ea1bc499be0e78 # v1.0.0-alpha.10
        with:
          crs-config: .github/crs-config.json
