name: Build and Upload Release Artifacts

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: "Git tag to build artifacts for"
        required: true

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  build-and-upload:
    name: Build and Upload Release Artifacts
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      OPAM_DESTDIR: ${{ github.workspace }}/opam-destdir

    steps:
      - name: Set TAG_NAME variable
        run: |
          if [ -n "${{ github.event.inputs.tag }}" ]; then
            echo "TAG_NAME=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          ref: ${{ env.TAG_NAME }}

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.x
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            mbarbin: https://github.com/mbarbin/opam-repository.git
      #     alpha:   https://github.com/kit-ty-kate/opam-alpha-repository.git
      #     janestreet-bleeding: https://github.com/janestreet/opam-repository.git
      #     janestreet-bleeding-external: https://github.com/janestreet/opam-repository.git#external-packages

      - name: Build Artifacts
        run: |
          mkdir -p "$OPAM_DESTDIR"
          opam install ./volgo-vcs.opam --destdir="$OPAM_DESTDIR"
        env:
          OPAMYES: "true"

      - name: Prepare Artifacts
        run: |
          os=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          arch=$(uname -m)
          bin_name="${{ github.workspace }}/volgo-vcs-$TAG_NAME-$os-$arch"
          cp "$OPAM_DESTDIR/bin/volgo-vcs" $bin_name
          echo "BIN_NAME=$bin_name" >> $GITHUB_ENV

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ env.BIN_NAME }}"

      - name: Upload Platform-Specific Binary
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ env.TAG_NAME }}
          files: |
            ${{ env.BIN_NAME }}
