name: test-deploy-doc

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

permissions:
  contents: read

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    env:
      OCAML_VERSION: "5.3"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: doc/package-lock.json

      - name: Install Docusaurus Dependencies
        working-directory: ./doc
        run: npm ci --ignore-scripts

      - name: Environment setup
        run: |
          echo "DUNE_WORKSPACE=$PWD/dune-workspace-${{ env.OCAML_VERSION }}" >> "$GITHUB_ENV"

      - name: Setup Dune
        uses: mbarbin/setup-dune@d38f7c80df59974cbe417c7f2a849219d54b4fdf # v2.0.0+patch-3
        with:
          version: "3.21.0"
          workspace: ${{ env.DUNE_WORKSPACE }}
          cache-prefix: "deploy-doc-${{ env.OCAML_VERSION }}"
          steps: install-dune enable-pkg lazy-update-depexts install-gpatch install-depexts

      - name: Build Odoc Pages
        run: dune build @doc

      - name: Copy Odoc Pages to Docusaurus Static Directory
        run: |
          rm -rf doc/static/odoc
          cp -R _build/default/_doc/_html doc/static/odoc

      - name: Build Website
        working-directory: ./doc
        run: npm run build
